sunshine/.config/sunshine/credentials/
sunshine/.config/sunshine/sunshine_state.json
sunshine/.config/sunshine/sunshine.log
nvim/.config/nvim/lazy-lock.json

# binaries
scripts/.local/bin/loom
scripts/.local/bin/vwm
scripts/.local/bin/pmux
scripts/.local/bin/pmux-run
scripts/.local/bin/pmux-cheat
