* {
  font-family: "FiraCode Nerd Font";
  font-size: 11px;
  min-height: 0;
  border: none;
  border-radius: 14px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: transparent;
  color: #4a3543;
}

#workspaces,
#clock,
#pulseaudio,
#network,
#tray {
  background: #fff7fb;
  margin-top: 8px;
  margin-left: 8px;
  padding: 0 10px;
}

#tray {
  margin-right: 8px;
}

#workspaces button {
  padding: 0 10px;
  margin: 4px 4px;
  background: transparent;
  color: #dcbccc;
}

#workspaces button.active {
  background: #f29fc2;
  color: #fff7fb;
}

#workspaces button.visible {
  color: #cfa5ba;
}

#workspaces button.empty {
  color: #dcbccc;
}

#clock,
#pulseaudio,
#network,
#tray {
  color: #4a3543;
}
