* {
  font-family: "FiraCode Nerd Font";
  font-size: 11px;
  min-height: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: #141415;
  color: #cdcdcd;
}

#workspaces {
  margin-left: 10px;
}

#workspaces button {
  padding: 0 8px;
  margin: 0 2px;
  background: transparent;
  color: #4b4b57;
}

#workspaces button.active {
  background: #8aa6ff;
  color: #141415;
}

#workspaces button.visible {
  color: #8b8ba7;
}

#workspaces button.empty {
  color: #4b4b57;
}

#clock,
#pulseaudio,
#network,
#tray {
  padding: 0 10px;
  color: #cdcdcd;
}

#tray {
  margin-right: 10px;
}
